/*Color Palette
#757761 Sonic Silver
#F4E76E SUNNY
#F7FE72 UNMELLOW YELLOW
#8FF7A7 PALE GREEN
#51BBFE VERY LIGHT AZURE
*/




/*Global styles--------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing:inherit;
}

body {
font-family: 'Fresca', sans-serif;
margin: 0;
}

a {
  color:#EF233C;

}
h1, h2 {
  font-family: 'Indie Flower', cursive;
}
 h2 {
   font-size: 40px;
   margin-top: 0;
 }
 h1 {
   font-size: 80px;
 }

 h3 {
   margin:0;
 }
a:hover {
  text-decoration:none;
}

.content-wrap {
  max-width:950px;
  margin:0 auto;
  padding: 60px 50px;
  overflow:auto;
}

.col-narrow {
  width:30%;
  float:left;

}
.col-wide{
  width:70%;
  float:left;
  padding-left: 20px;

}

.uppercase {
  text-transform:uppercase;
}

.btn {
  text-decoration:none;
  background: #757761;
  color:white;
  padding: 10px;
  display: inline-block;
}
/*Header and Footer--------*/

header, footer {
  background: #8FF7A7;
}
/* header */
header {
  text-align:center;
  position: relative;
  padding-top:50px;
}
.profile-img {
  border-radius:50%;
}
.download {
  position: absolute;
  bottom:0;
  right:0;
}
header h1, header h2 {
  margin: 0;
}
/* footer */
footer {
  text-align:center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Navigation */

nav {
  text-align:center;
  background:white;
  position:fixed;
  top:0;
  width:100%;
}
nav a {
  display: inline-block;
  padding:15px 20px;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
}


/*Work Experience--------*/

 .work {
   background: #51BBFE;
 }
h3 ~ p {
  margin:0;
}

.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top:0;
}

/*Education--------*/

.education {
background: linear-gradient(rgba(247, 254, 114, 0.8), rgba(247, 254, 114, 0.5)),
                 url(./images/marshall.jpg) no-repeat fixed;
background-size: cover;
}

p + h3 {
  margin-top:30px;
}


/*Media Queries */
@media (min-width: 900px) {
  .col-narrow {
    width:30%;
    float:left;

  }
  .col-wide{
    width:70%;
    float:left;
    padding-left: 20px;

  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
